.success {
  color: green;
  background-color: lightgray;
  font-weight: bold;
  border: 3px solid green;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
}

.error {
  color: red;
  background-color: lightgray;
  font-weight: bold;
  border: 3px solid red;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
}
